html, body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #333333, #b3b3b3);
    background-attachment: fixed;
    background-size: cover;
}

/*Landing Page*/
.gridContainer{
    /*background-color: aliceblue;*/
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0px;
}
.brand{
    /*background-color: aquamarine;*/
    height: auto;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items:end;
}
.model{
    /*background-color: aquamarine;*/
    height: auto;
    width: 50%;
    display: grid;
    justify-items: center;
    align-items:start;
}

/*Intro Page*/
.page1{
    /* background-color: aliceblue; */
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.intro{
    /* background-color: antiquewhite; */
    display: grid;
    align-content: center;
    row-gap: 0;
}
.intro-heading{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Birthstone", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 5vw;
}
.intro-body{
    
    /* background-color:beige; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align:justify;
    padding: 0px 50px;

    font-family: "Playwrite DE Grund", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5vw;
}

/*Performance Page*/
.page2{
    /* background-color:aqua; */
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.infoSpace{
    display: grid;
    grid-column: 2;

}
.engine{
    /* background-color: yellowgreen; */
    display: grid;
    height: 100vh;
    width: 80%;
    align-content: center;
    justify-content: center;
}
.drivetrain{
    /* background-color: yellowgreen; */
    display: grid;
    height: 100vh;
    width: 80%;
    align-content: center;
    justify-content: center;
}
.transmission{
    /* background-color: yellowgreen; */
    display: grid;
    height: 100vh;
    width: 80%;
    align-content: center;
    justify-content: center;
}
.horsepower{
    /* background-color: yellowgreen; */
    display: grid;
    height: 100vh;
    width: 80%;
    align-content: center;
    justify-content: center;
}
.torque{
    /* background-color: yellowgreen; */
    display: grid;
    height: 100vh;
    width: 80%;
    align-content: center;
    justify-content: center;
}
.acceleration{
    /* background-color: yellowgreen; */
    display: grid;
    height: 100vh;
    width: 80%;
    align-content: center;
    justify-content: center;
}
.topSpeed{
    /* background-color: yellowgreen; */
    display: grid;
    height: 100vh;
    width: 80%;
    align-content: center;
    justify-content: center;
}
.spec h3 {
    /* background-color: blue; */
    font-size: 2rem;
    /* color: white; */

    display: flex;
    align-items: flex-start;
    justify-content: start;
    text-align:justify;
    padding: 0px 50px;

    font-family: "Audiowide", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 2vw;
}
.spec p {
    /* background-color: blueviolet; */
    /* color: lightgray; */

    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align:justify;
    padding: 0px 50px;

    font-family: "Playwrite DE Grund", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 1vw;

}


#page3{
    height: 100vh;
    width: 100%;
}